.dropdown {
}

.dropdown--input {
	position: relative;
	background-color: grey;
	width: 10em;
	border: 1px solid black;
}

.dropdown--items {
	position: absolute;
	border: 1px solid black;
	width: 10em;
}

.dropdown--items--item:hover {
	background-color: grey;
}
